@model ClientAppBigBazzar.Models.OrderMasters

@{
    ViewData["Title"] = "Transaction";
            Layout = "_CustomerLogin";

}
@if(ViewBag.ErrorMessage!=null)  //this should be call on the csharp code so we use @the rate
{
<h2 class="text-center" style="background-color:indianred">@ViewBag.ErrorMessage<i class="fa-solid fa-message-exclamation"></i></h2>
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row row d-flex aligns-items-center justify-content-center">
            <div class="col-md-6 card p-3 px-5 py-5 mt-3 bg-grad" style="background-color:cadetblue">
           <form asp-action="Transaction" class="row g-6">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label style="color:black" asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" type="date" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:black" asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:black" asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:black" asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input asp-for="CustomerId" type="hidden"/>
            </div>
            <div class="form-group">
                                <br/>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
