@model ClientAppBigBazzar.Models.Traders

@{
    ViewData["Title"] = "UpdateTrader";
}

<h1>UpdateTrader</h1>

<h4>Traders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTrader">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="TraderId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="TraderName" class="control-label"></label>
                <input asp-for="TraderName" class="form-control" />
                <span asp-validation-for="TraderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraderPhoneNumber" class="control-label"></label>
                <input asp-for="TraderPhoneNumber" class="form-control" />
                <span asp-validation-for="TraderPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraderEmail" class="control-label"></label>
                <input asp-for="TraderEmail" type="email" class="form-control" />
                <span asp-validation-for="TraderEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
