@model IEnumerable<ClientAppBigBazzar.Models.Products>

@{
    ViewData["Title"] = "GetAllProducts";
    Layout = "_CustomerLogin";
    ViewData["CustomerView"] = true;
    ViewData["TraderView"] = false;
    ViewData["SearchResult"] = false;
}
<h1 class="text-center">Hello @ViewBag.CustomerName! Welcome</h1>
<h1>Products</h1>



<partial name="_ProductsPartial" Models="Products" view-data="ViewData"></partial>
