@model IEnumerable<ClientAppBigBazzar.Models.Products>

@{
    ViewData["Title"] = "GetProductByTrader";
        Layout = "_CustomerLogin";
    ViewData["TraderView"] = true;
    ViewData["CustomerView"] = false;
    ViewData["SearchResult"] = false;
}
<h1 class="text-center">Hello @ViewBag.TraderName! Welcome</h1>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}
    <partial name="_ProductsPartial" Models="Products" view-data="ViewData"></partial>
