@model ClientAppBigBazzar.Models.Customers

@{
    ViewData["Title"] = "CustomerLogin";
}

<h1>CustomerLogin</h1>

<h4>Customers</h4>
<hr />
@if(ViewBag.ErrorMessage!=null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}
<head>
    <script>
    window.alert("Please enter your valid Mail Id and Password")
    </script>
</head>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CustomerLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
           
            <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password"  class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <tr>
                <td>&nbsp;</td>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
